* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
}

section header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

section header ul li {
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
}

section header ul li a {
  color: #111;
  text-decoration: none;
  font-size: 16px;
}

section header ul li button {
  background-color: #4584ef;
  border: none;
  outline: none;
  padding: 8px 14px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

section .main {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .main {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .main .searchbox {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
section .main .searchbox .search {
  width: 100%;
  padding: 12px;
  padding-left: 45px;
  padding-right: 60px;
  border-radius: 30px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
}

section .main .searchbox .icons {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

section .main .buttons button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  letter-spacing: normal;

  color: #202124;
  background-color: #f8f9fa;
  border-radius: 4px;
  border: none;
  padding: 3px 15px;
  text-transform: capitalize;
}

section .main .buttons {
  margin-top: 30px;
}

section .main .lang {
  margin-top: 10px;
  color: #4d5156;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  letter-spacing: normal;
  background-color: #ffffff;
}

section .main .lang a {
  text-decoration: none;
}

section .main .buttons button:hover {
  border-radius: 4px;
  border: 1px solid #cecaca;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

section .footer p {
  color: #70757a;
  background-color: f2f2f2;
  font-size: 14px;
  text-align: start;
  padding: 15px 25px;
  border-bottom: 1px solid rgba(136, 142, 148, 0.3);
}

section .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
}

section .footer .row {
  display: flex;
  justify-content: space-between;
}
section .footer .row ul {
  display: flex;
  padding: 15px 15px;
}

section .footer .row ul li {
  list-style: none;
}

section .footer .row ul li a {
  text-decoration: none;
  color: #70757a;
  padding: 0px 10px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

section .footer .row ul li a:hover {
  text-decoration: underline;
}
